.common__section{
    background: linear-gradient(#0000009a, #0000009a),url('../assets/images/common-section.jpg') no-repeat center center;
    background-size:cover;
    padding: 100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.common__section h1{
    color: #fff;
    font-weight: 600;
}